/*קובץ CSS ששיך לסיפור העמוד של יואב*/

/*הגדרת הפונט כפונט גדי אלמוג*/
@font-face {
    font-family: 'gadi-almog-regular-aaa';
    src: url(../fonts/gadi-almog-regular-aaa.otf) format('opentype');
}

/*עיצוב HEADER ותפריט*/
header {
    position: relative;
    right: 250px;
    width: 75%
}

/*הגדרות תמונה יואב*/
.yoav {
    position: absolute;
    width: 232px;
    height: 250px;
    top: 0px;
    right: -250px;
}
/*עיצוב הסיפור של יואב הסיפור עצמו*/
/*story*/
.gadiAlmog {
    font-family: gadi-almog-regular-aaa;
}

/*עיצוב המרכאות התחתונות בסיפור*/
.endQuote {
    position: absolute;
    top: 1500px;
    right: 610px;
}

/*button*/
/*עיצוב כפתור לסיפורים נוספים*/
.button {
    position: absolute;
    top: 1650px;
    right: 1050px;
}
/*הגדרת הקישור לסיפורים נוספים*/
.divButton a {
    position: absolute;
    top: 1680px;
    right: 1110px;
    z-index: 1;
}